.header {
    max-width: 1200px;
    margin: 0 auto;
    background: url("../img/header.png") no-repeat center;
    height: 200px;
}

.main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.form__login{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.form__login *{
    outline: none;
}

.form__login input {
    font-size: 20px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px 12px 20px;
}

.form__login input:focus {
    box-shadow: 0 0 15px #7a956b;
}

.form__login input._error {
    box-shadow: 0 0 15px #f31100;
}

.form__login button {
    display: inline-block;
    background-color: #01afbb;
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.5s ease 0s;
}

.form__login button:hover {
    background-color: #077c85;
}

.error_mes {
    color: red;
    font-size: 20px;
    display: none;
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
}

.main_tg { 
    background: url("../img/footer.png") no-repeat center;
    height: 100px;
    margin-bottom: 10px;
}

.other_info {
    background: rgb(54, 54, 54);
    width: 600px;
    height: 100px;
    margin: 0 auto;
    padding-top: 40px;
}

.logo_epam{
    background-image: url(../img/logo.png);
    width: 65px;
    height: 23px;
    margin: 0 auto 20px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 200px;
    margin: 0 auto;
    padding: 0;
}

.links li {
    width: 40px;
    height: 40px;
}

.link__vk {
    display: inline-block;
    background: url(../img/vk.png) no-repeat center;
}

.link__fb {
    display: inline-block;
    background: url(../img/fb.png) no-repeat center;
}
.link__inst {
    display: inline-block;
    background: url(../img/inst.png) no-repeat center;
}
.link__tw {
    display: inline-block;
    background: url(../img/twitter.png) no-repeat center;
}
.link__tg {
    display: inline-block;
    background: url(../img/tg.png) no-repeat center;
}


